.Btn14 {
  width: 98px;
  height: 45px;
  background-color: rgba(65, 64, 64, 0.288);
  border: none;
  box-shadow: 5px 5px 15px rgba(252, 226, 146, 0.557);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  overflow: hidden;
  transition-duration: .5s;
   
}

.text14 {
  color: rgb(230, 234, 225);
  font-weight: 800;
  letter-spacing: 1.1px;
  z-index: 2;
}

.svgIcon14 {
  z-index: 2;
}

.svgIcon14 path {
  fill: rgb(195, 165, 222);
}

.Btn14:hover {
  color: rgb(198, 193, 255);
}

.effect14 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(220, 207, 165, 0.235);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition-duration: .5s;
}

.Btn14:hover .effect14 {
  transform: scale(15);
  transform-origin: center;
  opacity: 1;
  transition-duration: .5s;
}

.Btn14:hover {
  box-shadow: 0px 0px 5px rgb(208, 192, 114),
  0px 0px 10px rgb(213, 161, 50),
  0px 0px 30px rgb(200, 182, 111);
  transition-duration: .7s;
}

.Btn14:hover .text14 {
  color: rgb(30, 27, 27);
}

.Btn14:hover .svgIcon14 path {
  fill: rgb(65, 64, 64);
}





@media screen and (max-width: 768px) {


  .Btn14{
    position: relative;
    left: -50px;
  }
}