.content {
  display: flex;
  align-items: center;
  gap: 20px; 
  position: relative;
  left: 200px;
}
 
.like:hover{
    transform: scale(1.3);
    cursor: pointer;
    
}

.dislike:hover{transform: scale(1.3);
    cursor: pointer;


}

.thumb:hover{
    transform: scale(1.3);
    cursor: pointer;
}
 



@media screen and (max-width: 768px) {


  .content {
    align-items: center;
    gap: 20px;
    display: flex;
    position: relative;
    left: 60px;
}
}