.content {
  display: flex;
  align-items: center;
  gap: 20px; 
  position: relative;
  left: 200px;
}
 

@media screen and (max-width: 768px) {
 .content {
    align-items: center;
    gap: 20px;
    display: flex;
    position: relative;
    left: 90px;
}
}